<%- layout("./layouts/boilerplate") %>
<form
  class="container-md col-6"
  action="/messages/<%=message._id%>?_method=PUT"
  method="POST"
>
  <div>
    <label class="form-label" for="body">Message</label>
    <textarea
      class="form-control"
      type="text"
      id="body"
      name="message[body]"
      required
    >
<%=message.body%></textarea
    >
  </div>
  <div>
    <input
      hidden
      class="form-control"
      type="number"
      id="likes"
      name="message[likes]"
      value="<%=message.likes%>"
      disabled
    />
  </div>
  <button class="btn btn-primary mt-2">Submit</button>
</form>
