<%- layout("./layouts/boilerplate") %>
<div class="container-md col-6">
  <form action="/messages" method="POST">
    <div class="mb-3">
      <label class="form-label" for="location">Message</label>
      <textarea
        class="form-control"
        type="text"
        id="body"
        name="message[body]"
        required
      ></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
